<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome to Naamras Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/manager/home">Voxogenic AI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/manager/home">Home</a></li>
      <li><a href="/manager/addskill">Add Skills</a></li>
      
    </ul>
  </div>
</nav>
  


<div class="container">

 <div class="row" style="padding-right: 350px; padding-left: 350px; padding-top: 100px">
  <div class="col-sm-12">
      <h1>Welcome To Voxogenic AI</h1>
      
         
    </div>
  </div>

</div>
<img src="../public/vendor/b.jpg">   


</body>
</html>
